/nbproject/private/
/nbproject
/app/config/database.php
nbproject
/app/tmp/cache/models/*
/app/tmp/cache/persistent/*
/app/tmp/cache/views/*
/app/tmp/sessions/*
/app/tmp/tests/*
/app/tmp/logs/error.log
/app/tmp/logs/debug.log
/app/config/database.php
/app/tmp/cache/models/*
/app/tmp/cache/persistent/*
/uploads/*
app/config/database.php
/app/webroot/assets
/.idea/